//$green:		#2da491;



$white:                 #fff;
$white-smoke:			#f2f2f2;
$grey:                  #252525;
$grey-light:			#868686;
$black:                 #000;

$red:                   #ff0000;
$red--darken:			#a72429;

$green:					#558c25;
$green--darken:			#46a941;

$blue-twitter:          #4099ff;
$blue-facebook:         #3b5998;
$orange-google:         #d14333;

$purple:				#a3238e;