//$green:		#2da491;
//$red:		#c0392b;

$white:                 #fff;
$white-smoke:			#f2f2f2;
$grey:                  #252525;
$grey-light:			#868686;
$black:                 #000;

$red:                   #ff0000;

$green:					#558c25;

$blue-twitter:          #4099ff;
$blue-facebook:         #3b5998;
$orange-google:         #d14333;