$header-font:	'Miso-Bold';

// Font weights

$black:           900;
$bold:            700;
$regular:         400;
$light:           300;


// Default

$base-font-size: 18;
$grid-base-width: 1100;


$width:		116;
$width_2:	150;	// 800px
$width_3:	245;	// 640px
$width_4:	340;	// 480px

$height:	116;
$height_2:	96;		// 800px
$height_3:	86;		// 640px

$gutter:	48;
$gutter_2:	40;

$margin:	48;
$margin_2:	28;		// 800px
$margin_3:	18;		// 800px

$header:	'Miso';
$text:		'Open Sans', sans-serif;