.u-block {
	display: block;
	margin: 0 auto;
}

.u-inline {
	display: inline-block; 
	vertical-align: middle;
	
	&.c-more {
		margin: 0 0 0 20px;
	}
}

.u-nowrap {
	white-space: nowrap;
}

.star-1, .star-2 {
	position: absolute;
}

.star-1 {
	 right: 0; 
	 bottom: 80px;
}

.star-2 {
	left: 0;
	bottom: 140px;
}

.u-push--left {
	float: left;
}

.u-size--2x {
	width: 2 * grid($width) + grid($gutter);
	
	@media screen and ( max-width: 800px ) {
		width: 3 * grid($width_2) + 2 * grid($gutter_2);
	}
	
	@media screen and ( max-width: 640px ) {
		width: 3 * grid($width_3) + 2 * grid($gutter_2);
	}
	
	@media screen and ( max-width: 480px ) {
		width: 2 * grid($width_4) + grid($gutter_2);
	}
	
}

.u-size--2y {
	height: 2 * $height + $gutter  + px;
}


