.c-more {
	@include antialias;
	@include box-shadow(darken(red, 8%) 0 0 6px inset);
	@include box-sizing(border-box);
	@include border-radius( 50% );
	@include hover;
	display: block;
	z-index: 6;
	width: 54px; height: 54px;
	background-color: $red;
	margin: 0 auto;
	padding-top: 11px;
	text-align: center;
	text-transform: uppercase;
	font-family: $header;
	font-size: 18px;
	font-weight: $bold;
	line-height: .9;
	white-space: normal;
	
	&:hover {
		background-color: darken($red, 10%);
	}
	
	.u-size--2y.u-size--2x & {
		@include transform(scale(1.2));
	}
}