.c-tickets {
	border: none;
	
	img {
		display: inline-block;
	}

	td, th {
		@include antialias;
		border: none;
		padding: 0;
		line-height: 1;
		vertical-align: baseline;
		font: {
			family: $header;
			size: em(32);
			weight: $light;
		}
	}
	
	tr {
		td {
			&:first-of-type {
				padding-left: 30px;
			}
		}
	}
	
	.o-turkey {
		margin: 0 0 -6px 10px;
	}

	&__h2, &__h3, &__h4 {
		margin: 0;
		line-height: 1;
	}

	&__h2 {
		display: inline-block;
		text-transform: uppercase;
		font-size: em(24);
		font-weight: $bold;
		
		.mobile & {
			letter-spacing: -2px;
		}
	}
	
	&__h3 {
		text-transform: uppercase;
		font: {
			size: em(20);
		}
	}
	
	&__h4 {
		text-transform: uppercase;
		font: {
			size: em(18);
			weight: $bold;
		}
	}
	
	&__day {
		font-size: em(24);
	}
	
	&__price {
		font-size: em(26);
		font-weight: $bold;
		
		.mobile & {
			letter-spacing: -2px;
		}
	}
	
	&__buffer {
		td, th {
			padding: 5px 0;
		}
		
		&--top {
			td, th {
				padding: 10px 0 0 0;
			}
		}
	}
	
	.bg-green {
		background-color: $green--darken;
		color: white;
	}
	
	.txt-red {
		color: $red--darken;
	}
	
	.txt-green {
		color: $green--darken;
	}
	
	.txt-purple {
		color: $purple;
	}
	
	.border-bottom {
		padding-bottom: 5px;
		border-bottom: 2px dotted black;
	}
	
	.buffer {
		padding: 0 10px;
	}
	
	.radius--bottom {
		@include border-bottom-left-radius;
		@include border-bottom-right-radius;
	}
	
	.radius--top {
		@include border-top-left-radius;
		@include border-top-right-radius;
	}
	
	
	
}